<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content='initial-scale=1' name='viewport'>
    <title><%= current_page.data.title || "Litmus" %></title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "index" %>
  </head>
  
  <body>
    <a href="#" class="support">
      <i class="fa fa-envelope-o"></i>
    </a>

    <header>
      <div class="wrap">
        <h1 class="logo"></h1>
        <h2 class="text-on-dark">Sorry, we're having issues.</h2>
        <h4 class="text-on-dark">Updated 2 min ago.</h4>
      </div>
    </header>

    <nav>
      <div class="wrap">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link <%= nav_active('/') %>" href="index.html">Current Status</a>
          </li>

          <li class="nav-item">
            <a class="nav-link <%= nav_active('/history.html') %>" href="history.html">Status History</a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="js-main">
      <div class="wrap">
        <%= yield %>
      </div>
    </main>

    <footer>
      <div class="wrap">
        <p >
          We monitor our systems by performing live email and web page tests constantly.
          Additionally, we measure the response time of the Litmus application and our 
          Email Analytics platform from different locations. This status page is updated
          every five minutes.
        </p>

        <p>
          Need help? Contact <a href="#">support@litmus.com</a>.
        </p>
      </div>
    </footer>

    <%= javascript_include_tag  "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
    <%= javascript_include_tag  "init" %>
  </body>
</html>
